@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    /*Creates the full height of the page; lets the html stretch the size of the page.*/
}

body {
    margin: 0;
    background: radial-gradient(yellow, green);
    /*Using radial-gradient creates an image consisting of a progressive transition between two or more colors that radiate from an origin.*/
}

.page-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.info {
    font-family: monospace;
    color: red;
    text-align: center;
    font-size: 4em;
}